/****************************** Tag Selectors ****************************************/
/* tag selector 会作用于所有的标签 */

body {
    background-color:#E3FEF7;
}

h1 {
    color:#153448
}

h3 {
    color:#153448
}

/****************************** Class Selectors ****************************************/
/* class selector 会作用于部分的标签 */

.myself {
    height: 200px;
}

/****************************** ID Selectors ****************************************/
/* tag selector 会作用于单个的标签 */

#hobbies {
    color:#153448;
}